<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag    "application", media: "all",
                                                  "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <div class="container">
            <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <p>
                <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
                <%= link_to_unless I18n.locale == :de, "Deutsch", locale: :de %>
                <%= link_to_unless I18n.locale == :es, "Espanol", locale: :es %>
            </p>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
            <%= debug(I18n.locale) if Rails.env.development? %>
        </div>
    </body>
</html>
